:host {
  display: block;
  width: 100%;
}

.editor-content {
  min-height: 1.5em;
  padding-bottom: var(--ion-padding, 0);
  outline: none;
}

:host:focus-within ion-label {
  color: var(--ion-color-primary);
}
