@import '../../global/app.css';

:host {
  display: block;
  contain: content;
}

.image {
  object-fit: cover;
  width: 100%;
}

.large .image {
  height: 200px;
}

.small .image {
  height: 110px;
}

.small ion-card-content {
  padding: var(--ion-padding, 8px);
}

.no-overflow {
  overflow: hidden;
}
