@import '../../global/app.css';

:host {
  display: block;
  overflow: visible;
}

img {
  object-fit: cover;
  width: 100%;
}

.large img {
  height: 200px;
}

.small img {
  height: 110px;
}

ion-card-header {
  padding: var(--ion-padding, 8px) !important;
  padding-bottom: 2px !important;
}

ion-card-title {
  font-size: 1.1em !important;
}

ion-card-content {
  padding: var(--ion-padding, 8px) !important;
  padding-top: 2px !important;
}

.no-overflow {
  overflow: hidden;
}
