# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# IDE files
.vscode/
/.idea/
.idea/

# Run-time folders not for source control
data/
conf/

# Ignore the main build output
gomp
gomp.exe
gomp*.zip
gomp*.tar.gz
debug
