@import '../../global/app.css';

:host {
  display: block;
  overflow-wrap: anywhere;
  word-break: normal;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

img:not([style*="height" i]) {
  max-height: 400px;
}
