<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="confirmation-dialog">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            :host[hidden] {
                display: none !important;
            }
            h2 {
                color: var(--confirmation-dialog-title-color, --paper-blue-500);
            }
        </style>

        <paper-dialog id="dialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
            <h2><iron-icon icon="[[icon]]"></iron-icon> <span>[[title]]</span></h2>
            <p>[[message]]</p>
            <div class="buttons">
                <paper-button on-tap="_onDismissButtonTapped" dialog-dismiss>No</paper-button>
                <paper-button on-tap="_onConfirmButtonTapped" dialog-confirm>Yes</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        class ConfirmationDialog extends Polymer.GestureEventListeners(Polymer.Element) {
            static get is() { return 'confirmation-dialog'; }
            static get properties() {
                return {
                    icon: {
                        type: String,
                        value: 'help',
                    },
                    title: {
                        type: String,
                        value: 'Are you sure?',
                    },
                    message: {
                        type: String,
                        value: 'Are you sure you want to perform the requested operation?',
                    },
                };
            }

            open() {
                this.$.dialog.open();
            }

            _onDismissButtonTapped(e) {
                e.preventDefault();

                this.dispatchEvent(new CustomEvent('dismissed'));
            }
            _onConfirmButtonTapped(e) {
                e.preventDefault();

                this.dispatchEvent(new CustomEvent('confirmed'));
            }
        }
        window.customElements.define(ConfirmationDialog.is, ConfirmationDialog);
    </script>
</dom-module>
