:host {
  display: inline-block;
}

.icon {
  float: right;
  color: var(--five-star-rating-text-color, #c0c0c0);
  cursor: pointer;
}
.icon:not(.disabled) {
  cursor: pointer;
}

.icon:hover:not(.disabled),
.icon:hover:not(.disabled) ~ .icon {
  color: var(--five-star-rating-text-hover-color, #ffeb3b) !important;
}

.icon.whole {
  clip-path: inset(0 0 0 50%);
  position: relative;
  left: calc(1em * -1);
  margin-right: calc(1em * -1);
}
.icon.half {
  clip-path: inset(0 50% 0 0);
  position: relative;
}
.icon.selected {
  color: var(--five-star-rating-text-selected-color, #fdd835);
}
