body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.required:after {
    content:" *";
}

.clickable {
    cursor: pointer;
}

.plain-text {
    white-space: pre-wrap;
}

img.darken-25 {
    -webkit-filter: brightness(75%);
       -moz-filter: brightness(75%);
        -ms-filter: brightness(75%);
            filter: brightness(75%);
}

.fixed-action-btn > a > i {
  -webkit-transition: -webkit-transform .3s ease-in-out;
     -moz-transition: -webkit-transform .3s ease-in-out;
      -ms-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

.fixed-action-btn > a:hover > i {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}