body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.clickable {
    cursor: pointer;
}

.plain-text {
    white-space: pre-wrap;
}

img.darken-10 {
    -webkit-filter: brightness(90%);
       -moz-filter: brightness(90%);
        -ms-filter: brightness(90%);
            filter: brightness(90%);
}

.fixed-action-btn > a > i {
  -webkit-transition: -webkit-transform .3s ease-in-out;
     -moz-transition: -webkit-transform .3s ease-in-out;
      -ms-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

.fixed-action-btn > a:hover > i {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card .rating-container {
    position: absolute;
    top: 5px;
    right: 5px;
}

.rating-container > * {
    color: #dddddd;
    float: right;
}

.rating-container > .whole {
    -webkit-clip-path: inset(0 0 0 50%);
            clip-path: inset(0 0 0 50%);
    margin-left: -100%;
}

.rating-container > .half {
    -webkit-clip-path: inset(0 50% 0 0);
            clip-path: inset(0 50% 0 0);
}

.rating-container > .active,
.rating-container > .active ~ * {
    color: #fdd835;
}

.rating-container.clickable > :hover,
.rating-container.clickable > :hover ~ * {
    color: #ffeb3b !important;
}

/* This seems like something that was just missed in materialize */
nav .brand-logo.left {
  left: 0.5rem;
  padding: 0;
}

.card.tiny {
  position: relative;
}

.card.tiny .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.tiny .card-content {
  max-height: 40%;
  overflow: hidden;
}

.card.tiny .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card.tiny {
  height: 200px;
}

.card.tiny .card-content .card-title {
  font-size: 1.1rem !important;
}

.chip {
    margin-top: 5px !important;
}

.chips > input {
    text-transform: lowercase;
}

.side-nav .indented {
    padding: 0 23.5px 0 31px;
}

.side-nav.flex-container {
    display: flex;
    flex-flow: column;
}

.side-nav.flex-container > * {
    flex: 0 1 auto;
    position: relative;
}

.side-nav.flex-container > .fill {
    flex: 1 1 auto !important;
    overflow-y: auto;
    position: relative;
}

.side-nav .header-btn {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    margin: 0px !important;
}
