body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.required:after {
    content:" *";
}

.clickable {
    cursor: pointer;
}

.plain-text {
    white-space: pre-wrap;
}

