@import '../../global/app.css';

:host {
  display: block;
  contain: content;
}

img.main {
  object-fit: cover;
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  img.main {
    max-height: 20vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
  img.main {
    max-height: 25vh;
  }
}

@media only screen and (min-width: 1200px) {
  img.main {
    max-height: 35vh;
  }
}
