<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/paper-divider/paper-divider.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="image-list">
    <template>
        <style>
            :host {
                display: block;
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
            }
            img {
                margin: 2px;
            }
            header {
                font-size: 1.5em;
            }
            paper-divider {
                width: 100%;
            }
            #addDialog h2 {
                color: var(--paper-teal-500);
            }
        </style>

        <header>Pictures</header>
        <paper-divider></paper-divider>
        <template is="dom-repeat" items="[[images]]">
            <a target="_blank" href$="[[item.url]]"><img src="[[item.thumbnailUrl]]" alt="[[item.name]]"></a>
        </template>

        <paper-dialog id="addDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
            <form enctype="multipart/form-data" onsubmit="onAddImageSubmitted(this, event);">
                <h2><iron-icon icon="image:add-a-photo"></iron-icon> <span>Upload Picture</span></h2>
                <p>Browse for a picture to upload to this recipe.<p>
                <paper-input type="file"></paper-input>
            </form>
        </paper-dialog>

        <iron-ajax
            auto
            id="imagesAjax"
            url="/api/v1/recipes/[[recipeId]]/images"
            headers="[[ajaxHeaders]]"
            handle-as="json"
            on-request="_handleGetImagesRequest"
            on-response="_handleGetImagesResponse"></iron-ajax>
    </template>

    <script>
        Polymer({

            is: 'image-list',

            properties: {
                jwtToken: {
                    type: String,
                    notify: true
                },
                ajaxHeaders: {
                    type: Object,
                    computed: '_getAjaxHeaders(jwtToken)'
                },
                recipeId: {
                    type: String,
                    notify: true
                }
            },

            _getAjaxHeaders: function(jwtToken) {
                return {"Authorization": "Bearer " + jwtToken};
            },

            add: function() {
                this.$.addDialog.open();
            },

            _handleGetImagesRequest: function(e) {
                this.images = [];
            },
            _handleGetImagesResponse: function(e) {
                this.images = e.detail.response;
            }
        });
    </script>
</dom-module>