<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/paper-divider/paper-divider.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="image-list">
    <template>
        <style>
            :host {
                display: block;
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
            }
            img {
                margin: 2px;
            }
            header {
                font-size: 1.5em;
            }
            paper-divider {
                width: 100%;
            }
            #addDialog h2 {
                color: var(--paper-teal-500);
            }
        </style>

        <header>Pictures</header>
        <paper-divider></paper-divider>
        <template is="dom-repeat" items="[[images]]">
            <a target="_blank" href$="[[item.url]]"><img src="[[item.thumbnailUrl]]" alt="[[item.name]]"></a>
        </template>

        <paper-dialog id="addDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
            <h2><iron-icon icon="image:add-a-photo"></iron-icon> <span>Upload Picture</span></h2>
            <p>Browse for a picture to upload to this recipe.<p>
            <form id="addForm" enctype="multipart/form-data">
                <paper-input name="file_content" type="file"></paper-input>
            </form>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>Upload</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="uploadingDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
            <h2>
                <paper-spinner active></paper-spinner>
                Uploading
            </h2>
        </paper-dialog>

        <iron-ajax
            auto
            id="getAjax"
            url="/api/v1/recipes/[[recipeId]]/images"
            headers="[[ajaxHeaders]]"
            handle-as="json"
            on-request="_handleGetImagesRequest"
            on-response="_handleGetImagesResponse"></iron-ajax>
        <iron-ajax
            id="addAjax"
            url="/api/v1/recipes/[[recipeId]]/images"
            method="POST"
            headers="[[ajaxHeaders]]"
            handle-as="json"
            on-request="_handleAddRequest"
            on-response="_handleAddResponse",
            on-error="_handleAddError"></iron-ajax>
    </template>

    <script>
        Polymer({

            is: 'image-list',

            properties: {
                jwtToken: {
                    type: String,
                    notify: true
                },
                ajaxHeaders: {
                    type: Object,
                    computed: '_getAjaxHeaders(jwtToken)'
                },
                recipeId: {
                    type: String,
                    notify: true
                }
            },
            listeners: {
                'addDialog.iron-overlay-closed': '_addDialogClosed'
            },

            _getAjaxHeaders: function(jwtToken) {
                return {"Authorization": "Bearer " + jwtToken};
            },

            refresh: function() {
                this.$.getAjax.generateRequest();
            },

            add: function() {
                this.$.addDialog.open();
            },

            _addDialogClosed: function(e) {
                this.$.addAjax.body = new FormData(this.$.addForm);
                this.$.addAjax.generateRequest();
            },

            _handleGetImagesRequest: function(e) {
                this.images = [];
            },
            _handleGetImagesResponse: function(e) {
                this.images = e.detail.response;
            },
            _handleAddRequest: function(e) {
                this.$.uploadingDialog.open();
            },
            _handleAddResponse: function(e) {
                this.$.uploadingDialog.close();
                this.refresh();
            },
            _handleAddError: function(e) {
                this.$.uploadingDialog.close();
            }
        });
    </script>
</dom-module>