<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-divider/paper-divider.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">

<dom-module id="note-card">
    <template>
        <style>
            :host {
                display: block;
                color: var(--primary-text-color);

                --paper-card: {
                    width: 100%;
                }
            }
            paper-card:hover {
                @apply(--shadow-elevation-6dp);
            }
            .note-header {
                margin-bottom: 0.5em;
            }
            .note-content {
                margin: 0.75em;
                white-space: pre-wrap;
            }
            .note-footer {
                margin-top: 0.5em;
            }
            #modified-date {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
            .date {
                color: var(--secondary-text-color);
                font-size: 0.7em;
                font-weight: lighter;
            }
        </style>
        
        <paper-card>
            <div class="card-content">
                <div class="note-header">
                    <iron-icon icon="communication:comment"></iron-icon>
                    <span class="date">[[_formatDate(note.createdAt)]]</span>
                    <paper-menu-button style="position: absolute; top: 0; right: 0;" horizontal-align="right">
                        <paper-icon-button icon="icons:more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                            <paper-item><a id="edit" href="#!"><iron-icon icon="icons:create"></iron-icon> Edit</a></paper-item>
                            <paper-item><a id="delete" href="#!"><iron-icon icon="icons:delete"></iron-icon> Delete</a></paper-item>
                        </paper-menu>
                    </paper-menu-button>
                </div>
                <paper-divider></paper-divider>
                <p class="note-content">[[note.text]]</p>
                <paper-divider hidden$="[[!_showModifiedDate(note)]]"></paper-divider>
                <div id="modified-date" class="note-footer" hidden$="[[!_showModifiedDate(note)]]">
                    <span class="date">[[_formatDate(note.modifiedAt)]]</span>
                </div>
            </div>
        </paper-card>
    </template>

    <script>
        Polymer({

            is: 'note-card',

            properties: {
                note: {
                    type: Object,
                    notify: true
                }
            },
            listeners: {
                'edit.tap': '_edit',
                'delete.tap': '_delete'
            },

            _edit: function(e) {
                e.preventDefault();

                this.fire('note-card-edit');
            },
            _delete: function(e) {
                e.preventDefault();
                
                this.fire('note-card-delete');
            },

            _formatDate: function(dateStr) {
                return new Date(dateStr).toLocaleString();
            },
            _showModifiedDate: function(note) {
                return note.modifiedAt !== note.createdAt;
            }

        });
    </script>
</dom-module>
