<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-divider/paper-divider.html">

<link rel="import" href="../behaviors/gomp-core-behavior.html">

<link rel="import" href="note-card.html">

<dom-module id="note-list">
    <template>
        <style>
            :host {
                display: block;
            }
            note-card {
                margin: 5px;
            }
            header {
                font-size: 1.5em;
            }
            paper-divider {
                width: 100%;
            }
            #confirmDeleteDialog h2 {
                color: red;
            }
        </style>

        <header>Notes</header>
        <paper-divider></paper-divider>
        <template is="dom-repeat" items="[[notes]]">
            <note-card jwt-token="[[jwtToken]]" note="[[item]]"></note-card>
        </template>

        <iron-ajax
            auto
            id="getAjax"
            url="/api/v1/recipes/[[recipeId]]/notes"
            headers="[[ajaxHeaders]]"
            handle-as="json"
            on-request="_handleGetRequest"
            on-response="_handleGetResponse"
            on-error="_handleGetError"></iron-ajax>
    </template>

    <script>
        Polymer({

            is: 'note-list',
            behaviors: [GompCoreBehavior],

            properties: {
                recipeId: {
                    type: String,
                    notify: true
                }
            },
            listeners: {
                'note-card-deleted': '_noteDeleted'
            },

            refresh: function() {
                this.$.getAjax.generateRequest();
            },

            _noteDeleted: function(e) {
                this.refresh();
            },

            _handleGetRequest: function(e) {
                this.onLoading();
                this.notes = [];
            },
            _handleGetResponse: function(e) {
                this.notes = e.detail.response;
                this.onLoaded();
            },
            _handleGetError: function(e) {
                this.onLoaded();
            }
        });
    </script>
</dom-module>