<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="pagination-links">
    <template>
        <style>
            :host {
                display: block;
            }
            paper-button {
                font-weight: 600;
                text-transform: lowercase;
            }
            paper-button:not([disabled]) {
                color: #ffffff;
                background: var(--light-accent-color);
            }
        </style>
        
        <paper-button id="first" raised on-tap="_goFirst">|&lt;</paper-button>
        <paper-button id="prev" raised on-tap="_goPrev">&lt;</paper-button>
        <paper-button raised disabled>[[pageNum]] of [[numPages]]</paper-button>
        <paper-button id="next" raised on-tap="_goNext">&gt;</paper-button>
        <paper-button id="last" raised on-tap="_goLast">&gt;|</paper-button>
    </template>

    <script>
      Polymer({

        is: 'pagination-links',

        properties: {
          pageNum: {
            type: Number,
            value: 1,
            notify: true
          },
          numPages: {
            type: Number,
            value: 10,
            notify: true
          },
        },
        observers: [
            '_pagesChanged(pageNum, numPages)'
        ],

        _pagesChanged: function() {
            this.$.first.disabled = this.pageNum == 1;
            this.$.prev.disabled = this.pageNum == 1;
            this.$.next.disabled = this.pageNum == this.numPages;
            this.$.last.disabled = this.pageNum == this.numPages;
        },
        _goFirst: function(e) {
            this.pageNum = 1;;
        },
        _goPrev: function(e) {
            this.pageNum--;
        },
        _goNext: function(e) {
            this.pageNum++;
        },
        _goLast: function(e) {
            this.pageNum = this.numPages;
        },
      });
    </script>
</dom-module>
