<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../behaviors/gomp-core-behavior.html">

<link rel="import" href="tag-input.html">

<dom-module id="recipe-edit">
    <template>
        <style>
            :host {
                display: block;

                --paper-card: {
                    width: 100%;
                }
            }
        </style>

        <paper-card>
            <div class="card-content">
                <paper-input label="Name" value="{{recipe.name}}"></paper-input>
                <paper-textarea label="Serving Size" value="{{recipe.servingSize}}"></paper-textarea>
                <paper-textarea label="Ingredients" value="{{recipe.ingredients}}"></paper-textarea>
                <paper-textarea label="Directions" value="{{recipe.directions}}"></paper-textarea>
                <paper-textarea label="Nutrition" value="{{recipe.nutrition}}"></paper-textarea>
                <paper-input label="Source" value="{{recipe.sourceUrl}}"></paper-input>
                <tag-input id="tagsInput" tags="{{recipe.tags}}" jwt-token="[[jwtToken]]"></tag-input>
            </div>
            <div class="card-actions">
                <paper-button id="cancelButton">Cancel</paper-button>
                <paper-button id="saveButton">Save</paper-button>
            </div>
        </paper-card>

        <iron-ajax
            auto
            id="getAjax"
            url="/api/v1/recipes/[[recipeId]]"
            headers="[[ajaxHeaders]]"
            method="GET"
            handle-as="json"
            on-request="_handleGetRecipeRequest"
            on-response="_handleGetRecipeResponse"
            on-error="_handleGetRecipeError"></iron-ajax>
        <iron-ajax
            id="putAjax"
            url="/api/v1/recipes/[[recipeId]]"
            headers="[[ajaxHeaders]]"
            method="PUT"
            handle-as="json"
            on-request="_handlePutPostRecipeRequest"
            on-response="_handlePutRecipeResponse"
            on-error="_handlePutPostRecipeError"></iron-ajax>
        <iron-ajax
            id="postAjax"
            url="/api/v1/recipes"
            headers="[[ajaxHeaders]]"
            method="POST"
            handle-as="json"
            on-request="_handlePutPostRecipeRequest"
            on-response="_handlePostRecipeResponse"
            on-error="_handlePutPostRecipeError"></iron-ajax>
    </template>

    <script>
        Polymer({

            is: 'recipe-edit',
            behaviors: [GompCoreBehavior],

            properties: {
                recipeId: {
                    type: String,
                    notify: true
                }
            },
            listeners: {
                'cancelButton.tap': '_cancelButtonTapped',
                'saveButton.tap': '_saveButtonTapped'
            },

            refresh: function() {
                this.$.getAjax.generateRequest();
                this.$.tagsInput.refresh();
            },
            _isActiveChanged: function() {
                if (!this.recipeId) {
                    this.recipe = {
                        name: '',
                        servingSize: '',
                        ingredients: '',
                        directions: '',
                        nutrition: '',
                        sourceUrl: '',
                        tags: []
                    };
                }
                this.$.tagsInput.refresh();
            },

            _cancelButtonTapped: function(e) {
                this.fire("recipe-edit-cancel");
            },
            _saveButtonTapped: function(e) {
                if (this.recipeId) {
                    this.$.putAjax.body = JSON.stringify(this.recipe);
                    this.$.putAjax.generateRequest();
                } else {
                    this.$.postAjax.body = JSON.stringify(this.recipe);
                    this.$.postAjax.generateRequest();
                }
            },

            _handleGetRecipeRequest: function(e) {
                this.onLoading();
                if (this.recipeId) {
                    this.recipe = null;
                }
            },
            _handleGetRecipeResponse: function(e) {
                this.recipe = e.detail.response;
                this.onLoaded();
            },
            _handleGetRecipeError: function(e) {
                this.onLoaded();
            },
            _handlePutPostRecipeRequest: function(e) {
                this.onLoading();
            },
            _handlePutRecipeResponse: function(e) {
                this.fire("recipe-edit-save");
                this.fire("recipes-changed");
                this.onLoaded();
            },
            _handlePostRecipeResponse: function(e) {
                var temp = document.createElement('a');
                temp.href = e.detail.xhr.getResponseHeader('Location');
                var path = temp.pathname;

                var newRecipeId = NaN;
                var newRecipeIdMatch = path.match(/\/api\/v1\/recipes\/(\d+)/);
                if (newRecipeIdMatch) {
                    newRecipeId = parseInt(newRecipeIdMatch[1], 10);
                }
                this.fire("recipe-edit-save", {redirectUrl: '/recipes/' + newRecipeId});
                this.fire("recipes-changed");
                this.onLoaded();
            },
            _handlePutPostRecipeError: function(e) {
                this.onLoaded();
            },
        });
    </script>
</dom-module>