<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-star-rating/iron-star-rating.html">

<link rel="import" href="../mixins/gomp-core-mixin.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="recipe-rating">
    <template>
        <style include="shared-styles">
            :host {
                --star-rating-size: var(--recipe-card-rating-size, 18px);
            }
        </style>

        <iron-star-rating value="[[recipe.averageRating]]" on-rating-selected="_starRatingSelected"></iron-star-rating>

        <iron-ajax bubbles
            id="rateAjax"
            url="/api/v1/recipes/[[recipe.id]]/rating"
            method="PUT"
            on-response="_handlePutRecipeRatingResponse"
            on-error="_handlePutRecipeRatingError"></iron-ajax>
    </template>

    <script>
        class RecipeRating extends GompCoreMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { return 'recipe-rating'; }
            static get properties() {
                return {
                    recipe: {
                        type: Object,
                        notify: true,
                    },
                };
            }

            _starRatingSelected(e) {
                this.$.rateAjax.body = e.detail.rating;
                this.$.rateAjax.generateRequest();
            }
            _handlePutRecipeRatingResponse(e) {
                this.set('recipe.averageRating', parseFloat(e.target.body));
                this.showToast('Rating changed.');
                this.dispatchEvent(new CustomEvent('recipes-modified', {bubbles: true, composed: true}));
            }
            _handlePutRecipeRatingError(e) {
                this.showToast('Changing rating failed!');
            }
        }

        window.customElements.define(RecipeRating.is, RecipeRating);
    </script>
</dom-module>
