<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-divider/paper-divider.html">

<link rel="import" href="../mixins/gomp-core-mixin.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="recipe-link-dialog">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            header {
                font-size: 1.5em;
            }
            paper-divider {
                width: 100%;
            }
            paper-dialog h3 {
                color: var(--paper-indigo-500);
            }
            paper-dialog h3 > span {
                padding-left: 0.25em;
            }
            @media screen and (min-width: 993px) {
                paper-dialog {
                    width: 33%;
                }
            }
            @media screen and (min-width: 601px) and (max-width: 992px) {
                paper-dialog {
                    width: 75%;
                }
            }
            @media screen and (max-width: 600px) {
                paper-dialog {
                    width: 100%;
                }
            }
        </style>

        <paper-dialog on-iron-overlay-closed="_onDialogClosed" with-backdrop>
            <!-- TODO: Show recipe matches as user types -->
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>Save</paper-button>
            </div>
        </paper-dialog>

        <iron-ajax bubbles auto
            id="recipesAjax"
            url="/api/v1/recipes"
            method="GET"
            handle-as="json"
            on-request="_handleGetRecipesRequest"
            on-response="_handleGetRecipesResponse"
            on-error="_handleGetRecipesError"
            debounce-duration="100"></iron-ajax>
    </template>

    <script>
        class RecipeLinkDialog extends GompCoreMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { return 'recipe-link-dialog'; }
            static get properties() {
                return {
                    recipeId: {
                        type: String,
                        notify: true,
                    },
                };
            }

            _onDialogClosed(e) {
                if (e.detail.confirmed) {
                }
            }
            _handleGetRecipesRequest(e) {
            }
            _handleGetRecipesResponse(e) {
            }
            _handleGetRecipesError(e) {
            }
        }

        window.customElements.define(RecipeLinkDialog.is, RecipeLinkDialog);
    </script>
</dom-module>
