<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-star-rating/iron-star-rating.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-chip/paper-chips-section.html">
<link rel="import" href="../../bower_components/paper-divider/paper-divider.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../mixins/gomp-core-mixin.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="recipe-display">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                --paper-card: {
                    width: 100%;
                }
            }
            section {
                padding: 0.5em;
            }
            a {
                text-transform: none;
            }
            label {
                color: var(--secondary-text-color);
                font-size: 0.8em;
                font-weight: lighter;
            }
            .plain-text {
                white-space: pre-wrap;
            }
            .avatar {
                width: 64px;
                height: 64px;
                border-radius: 32px;
            }
            iron-star-rating {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        </style>

        <paper-card>
            <div class="card-content">
                <iron-star-rating value="[[recipe.averageRating]]" on-rating-selected="_starRatingSelected"></iron-star-rating>
                <h2>
                    <a target="_blank" href$="[[mainImage.url]]"><img src="[[mainImage.thumbnailUrl]]" alt="Main Image" class="avatar" hidden$="[[!mainImage.thumbnailUrl]]"></a>
                    [[recipe.name]]
                </h2>
                <section hidden$="{{!recipe.servingSize}}">
                    <label>Serving Size</label>
                    <p class="plain-text">[[recipe.servingSize]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section>
                    <label>Ingredients</label>
                    <p class="plain-text">[[recipe.ingredients]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section>
                    <label>Directions</label>
                    <p class="plain-text">[[recipe.directions]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section hidden$="{{!recipe.nutritionInfo}}">
                    <label>Nutrition</label>
                    <p class="plain-text">[[recipe.nutritionInfo]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section hidden$="{{!recipe.sourceUrl}}">
                    <label>Source</label>
                    <p class="section"><a target="_blank" href$="[[recipe.sourceUrl]]" class="hideable-content">[[recipe.sourceUrl]]</a></p>
                    <paper-divider></paper-divider>
                </section>
                <section>
                    <label>Related Recipes</label>
                    <p class="section"><a target="_blank" href="#" class="hideable-content">Some Recipe</a></p>
                    <p class="section"><a target="_blank" href="#" class="hideable-content">Some other recipe</a></p>
                    <p class="section"><a target="_blank" href="#" class="hideable-content">A related side dish</a></p>
                    <paper-divider></paper-divider>
                </section>
                <paper-chips-section labels="[[recipe.tags]]"></paper-chips-section>
            </div>
        </paper-card>

        <iron-ajax bubbles auto
            id="getAjax"
            url="/api/v1/recipes/[[recipeId]]"
            method="GET"
            handle-as="json"
            on-request="_handleGetRecipeRequest"
            on-response="_handleGetRecipeResponse"></iron-ajax>
        <iron-ajax bubbles auto
            id="mainImageAjax"
            url="/api/v1/recipes/[[recipeId]]/image"
            handle-as="json"
            on-request="_handleGetMainImageRequest"
            on-response="_handleGetMainImageResponse"></iron-ajax>
        <iron-ajax bubbles
            id="rateAjax"
            url="/api/v1/recipes/[[recipeId]]/rating"
            method="PUT"
            handle-as="json"
            on-response="_handlePutRecipeRatingResponse"
            on-error="_handlePutRecipeRatingError"></iron-ajax>
    </template>

    <script>
        class RecipeDisplay extends GompCoreMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { return 'recipe-display'; }
            static get properties() {
                return {
                    recipeId: {
                        type: String,
                        notify: true,
                    },
                };
            }

            refresh(options) {
                if (!options || !options.onlyMainImage) {
                    this.$.getAjax.generateRequest();
                }
                this.$.mainImageAjax.generateRequest();
            }

            _starRatingSelected(e) {
                this.$.rateAjax.body = e.detail.rating;
                this.$.rateAjax.generateRequest();
            }

            _handleGetRecipeRequest(e) {
                this.recipe = null;
            }
            _handleGetRecipeResponse(e) {
                this.recipe = e.detail.response;
            }
            _handleGetMainImageRequest(e) {
                this.mainImage = null;
            }
            _handleGetMainImageResponse(e) {
                this.mainImage = e.detail.response;
            }
            _handlePutRecipeRatingResponse(e) {
                this.set('recipe.averageRating', parseFloat(e.target.body));
                this.showToast('Rating changed.');
                this.dispatchEvent(new CustomEvent('recipes-modified', {bubbles: true, composed: true}));
            }
            _handlePutRecipeRatingError(e) {
                this.showToast('Changing rating failed!');
            }
        }

        window.customElements.define(RecipeDisplay.is, RecipeDisplay);
    </script>
</dom-module>
