<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">

<link rel="import" href="../mixins/gomp-core-mixin.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="recipe-link-dialog">
    <template>
        <style include="shared-styles">
            paper-dialog h3 {
                color: var(--paper-indigo-500);
            }
            paper-dialog h3 > span {
                padding-left: 0.25em;
            }
            @media screen and (min-width: 993px) {
                paper-dialog {
                    width: 33%;
                }
            }
            @media screen and (min-width: 601px) and (max-width: 992px) {
                paper-dialog {
                    width: 75%;
                }
            }
            @media screen and (max-width: 600px) {
                paper-dialog {
                    width: 100%;
                }
            }
        </style>

        <paper-dialog id="dialog" on-iron-overlay-closed="_onDialogClosed" with-backdrop>
            <h3><iron-icon icon="icons:link"></iron-icon> <span>Link to Another Recipe</span></h3>
            <paper-autocomplete id="recipeSearcher" label="Find Recipe" min-length="2" remote-source show-results-on-focus required></paper-autocomplete>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>Add</paper-button>
            </div>
        </paper-dialog>

        <iron-ajax bubbles auto
            id="recipesAjax"
            url="/api/v1/recipes"
            method="GET"
            handle-as="json"
            on-response="_handleGetRecipesResponse"
            debounce-duration="100"></iron-ajax>
    </template>

    <script>
        class RecipeLinkDialog extends Polymer.GestureEventListeners(Polymer.Element) {
            static get is() { return 'recipe-link-dialog'; }
            static get properties() {
                return {
                    recipeId: {
                        type: String,
                    },
                };
            }

            ready() {
                this.addEventListener('autocomplete-change', e => this._onAutocompleteChange(e));

                super.ready();
            }
            open() {
                this.$.recipeSearcher.suggestions([]);
                this.$.recipeSearcher.clear();
                this.$.dialog.open();
            }

            _onAutocompleteChange(e) {
                var query = e.detail.text;
                this.$.recipesAjax.params = {
                    'q': query,
                    'fields[]': ["name"],
                    'tags[]': [],
                    'sort': 'name',
                    'dir': 'asc',
                    'page': 1,
                    'count': 20,
                };
            }
            _onDialogClosed(e) {
                if (e.detail.confirmed) {
                }
            }
            _handleGetRecipesResponse(e) {
                var recipes = e.detail.response.recipes;

                var suggestions = [];
                if (recipes) {
                    recipes.forEach(function(recipe) {
                        suggestions.push({value: recipe.id, text: recipe.name});
                    });
                }
                this.$.recipeSearcher.suggestions(suggestions);
            }
        }

        window.customElements.define(RecipeLinkDialog.is, RecipeLinkDialog);
    </script>
</dom-module>
