<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-star-rating/iron-star-rating.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="recipe-card">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                color: var(--primary-text-color);
                cursor: pointer;

                --paper-card-header: {
                    height: var(--recipe-card-header-height, 75%);
                }
                --paper-card: {
                    width: 100%;
                    height: var(--recipe-card-height, 250px);
                }
                --star-rating-size: 16px;
            }
            paper-card:hover{
                @apply --shadow-elevation-6dp;
            }
            .truncate {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>

        <a href$="/recipes/[[recipe.id]]">
            <paper-card image="[[recipe.thumbnailUrl]]">
                <div class="card-content">
                    <span class="truncate">[[recipe.name]]</span>
                    <iron-star-rating value="[[recipe.averageRating]]"></iron-star-rating>
                </div>
            </paper-card>
        </a>
    </template>

    <script>
        class RecipeCard extends Polymer.GestureEventListeners(Polymer.Element) {
            static get is() { return 'recipe-card'; }
            static get properties() {
                return {
                    recipe: {
                        type: Object,
                        notify: true,
                    },
                };
            }
        }

        window.customElements.define(RecipeCard.is, RecipeCard);
    </script>
</dom-module>
