<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-star-rating/iron-star-rating.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../mixins/gomp-core-mixin.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="recipe-card">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                color: var(--primary-text-color);
                cursor: pointer;

                --paper-card-header: {
                    height: 75%;

                    @apply --recipe-card-header;
                }
                --paper-card-header-image: {
                    top: -50px;
                }
                --paper-card-content: {
                    @apply --recipe-card-content;
                }
                --paper-card: {
                    width: 100%;
                    height: 250px;

                    @apply --recipe-card;
                }
                --star-rating-size: var(--recipe-card-rating-size, 18px);
            }
            paper-card:hover {
                @apply --shadow-elevation-6dp;
            }
            .truncate {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>

        <a href$="/recipes/[[recipe.id]]">
            <paper-card image="[[recipe.thumbnailUrl]]">
                <div class="card-content">
                    <span class="truncate">[[recipe.name]]</span>
                    <iron-star-rating value="[[recipe.averageRating]]" on-rating-selected="_starRatingSelected"></iron-star-rating>
                </div>
            </paper-card>
        </a>

        <iron-ajax bubbles
            id="rateAjax"
            url="/api/v1/recipes/[[recipe.id]]/rating"
            method="PUT"
            on-response="_handlePutRecipeRatingResponse"
            on-error="_handlePutRecipeRatingError"></iron-ajax>
    </template>

    <script>
        class RecipeCard extends GompCoreMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { return 'recipe-card'; }
            static get properties() {
                return {
                    recipe: {
                        type: Object,
                        notify: true,
                    },
                };
            }

            _starRatingSelected(e) {
                this.$.rateAjax.body = e.detail.rating;
                this.$.rateAjax.generateRequest();
            }
            _handlePutRecipeRatingResponse(e) {
                this.set('recipe.averageRating', parseFloat(e.target.body));
                this.showToast('Rating changed.');
            }
            _handlePutRecipeRatingError(e) {
                this.showToast('Changing rating failed!');
            }
        }

        window.customElements.define(RecipeCard.is, RecipeCard);
    </script>
</dom-module>
