<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-star-rating/iron-star-rating.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-chip/paper-chips-section.html">
<link rel="import" href="../../bower_components/paper-divider/paper-divider.html">

<link rel="import" href="../mixins/gomp-core-mixin.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="recipe-display">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                --paper-card: {
                    width: 100%;
                }
            }
            section {
                padding: 0.5em;
            }
            a {
                text-transform: none;
            }
            label {
                color: var(--secondary-text-color);
                font-size: 0.8em;
                font-weight: lighter;
            }
            .plain-text {
                white-space: pre-wrap;
            }
            .avatar {
                width: 64px;
                height: 64px;
                border-radius: 32px;
            }
            .recipe-link {
                margin: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .link-avatar {
                display: inline-block;
                width: 24px;
                height: 24px;
                border: 1px solid rgba(0, 0, 0, 0.25);
                border-radius: 12px;
                vertical-align: middle;
                margin: 2px;
            }
            .link-avatar[hidden] {
                display: none !important;
            }
            iron-star-rating {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        </style>

        <paper-card>
            <div class="card-content">
                <iron-star-rating value="[[recipe.averageRating]]" on-rating-selected="_starRatingSelected"></iron-star-rating>
                <h2>
                    <a target="_blank" href$="[[mainImage.url]]"><img src="[[mainImage.thumbnailUrl]]" alt="Main Image" class="avatar" hidden$="[[!mainImage.thumbnailUrl]]"></a>
                    [[recipe.name]]
                </h2>
                <section hidden$="[[!recipe.servingSize]]">
                    <label>Serving Size</label>
                    <p class="plain-text">[[recipe.servingSize]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section>
                    <label>Ingredients</label>
                    <p class="plain-text">[[recipe.ingredients]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section>
                    <label>Directions</label>
                    <p class="plain-text">[[recipe.directions]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section hidden$="[[!recipe.nutritionInfo]]">
                    <label>Nutrition</label>
                    <p class="plain-text">[[recipe.nutritionInfo]]</p>
                    <paper-divider></paper-divider>
                </section>
                <section hidden$="[[!recipe.sourceUrl]]">
                    <label>Source</label>
                    <p class="section"><a target="_blank" href$="[[recipe.sourceUrl]]" class="hideable-content">[[recipe.sourceUrl]]</a></p>
                    <paper-divider></paper-divider>
                </section>
                <section hidden$="[[_isEmpty(links)]]">
                    <label>Related Recipes</label>
                    <template is="dom-repeat" items="[[links]]">
                        <a href="/recipes/[[item.id]]">
                            <div class="recipe-link">
                                <img src="[[item.thumbnailUrl]]" alt="Main Image" class="link-avatar" hidden$="[[_isNullOrEmpty(item.thumbnailUrl)]]">
                                <span class="link-avatar" hidden$="[[!_isNullOrEmpty(item.thumbnailUrl)]]"></span>
                                <span>[[item.name]]</span>
                            </div>
                        </a>
                    </template>
                    <paper-divider></paper-divider>
                </section>
                <paper-chips-section labels="[[recipe.tags]]"></paper-chips-section>
            </div>
        </paper-card>

        <iron-ajax bubbles auto
            id="getAjax"
            url="/api/v1/recipes/[[recipeId]]"
            on-request="_handleGetRecipeRequest"
            on-response="_handleGetRecipeResponse"></iron-ajax>
        <iron-ajax bubbles auto
            id="mainImageAjax"
            url="/api/v1/recipes/[[recipeId]]/image"
            on-request="_handleGetMainImageRequest"
            on-response="_handleGetMainImageResponse"></iron-ajax>
        <iron-ajax bubbles
            id="rateAjax"
            url="/api/v1/recipes/[[recipeId]]/rating"
            method="PUT"
            on-response="_handlePutRecipeRatingResponse"
            on-error="_handlePutRecipeRatingError"></iron-ajax>
        <iron-ajax bubbles auto
            id="getLinksAjax"
            url="/api/v1/recipes/[[recipeId]]/links"
            on-response="_handleGetLinksResponse"></iron-ajax>
    </template>

    <script>
        class RecipeDisplay extends GompCoreMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { return 'recipe-display'; }
            static get properties() {
                return {
                    recipeId: {
                        type: String,
                    },
                };
            }

            refresh(options) {
                if (!this.recipeId) {
                    return;
                }

                if (!options || options.recipe) {
                    this.$.getAjax.generateRequest();
                }
                if (!options || options.links) {
                    this.$.getLinksAjax.generateRequest();
                }
                if (!options || options.mainImage) {
                    this.$.mainImageAjax.generateRequest();
                }
            }

            _isEmpty(arr) {
                return !Array.isArray(arr) || !arr.length;
            }

            _starRatingSelected(e) {
                this.$.rateAjax.body = e.detail.rating;
                this.$.rateAjax.generateRequest();
            }

            _handleGetRecipeRequest(e) {
                this.recipe = null;
            }
            _handleGetRecipeResponse(e) {
                this.recipe = e.detail.response;
            }
            _handleGetMainImageRequest(e) {
                this.mainImage = null;
            }
            _handleGetMainImageResponse(e) {
                this.mainImage = e.detail.response;
            }
            _handlePutRecipeRatingResponse(e) {
                this.set('recipe.averageRating', parseFloat(e.target.body));
                this.showToast('Rating changed.');
                this.dispatchEvent(new CustomEvent('recipes-modified', {bubbles: true, composed: true}));
            }
            _handlePutRecipeRatingError(e) {
                this.showToast('Changing rating failed!');
            }
            _handleGetLinksResponse(e) {
                this.links = e.detail.response;
            }
        }

        window.customElements.define(RecipeDisplay.is, RecipeDisplay);
    </script>
</dom-module>
