ion-footer {
  background-color: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);
}

ion-searchbar.end {
  text-align: initial;
  width: unset;
}

.active {
  font-weight: bold;
}

.always-clickable {
  pointer-events: auto;
}

.child-links {
  margin-left: 16px;
}

.copyright {
  font-size: 0.75rem;
  font-weight: lighter;
}

.search {
  text-align: start;
}
