{{template "shared/header" .}}
<form method="post">
    <div>
        <span>Name</span>
    <input name="name" type="text"/>
    </div>
    <div>
        <span>Description</span>
        <input name="description" type="text"/>
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>
{{template "shared/footer" .}}
