{{template "shared/header" .}}
<section id="create-recipe-container" class="container">
    <header class="row">
        <h4>Add Recipe</h4>
    </header>
    <form method="post">
        <div class="row">
            <div class="input-field col s12 l6">
                <input id="name" name="name" class="validate" placeholder="(e.g., Fried Chicken)" required autofocus>
                <label for="name" class="active required">Name<label>
            </div>
            <div class="input-field col s10 m11 l5">
                <input id="new-tag">
                <label for="new-tag" class="active">Tags</label>
            </div>
            <div class="input-field col s2 m2 l1 right-align">
                <button id="add-tag" type="button" class="btn-floating waves-effect green">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div class="col s12 offset-l6 l6">
                <span id="tags"></span>
            </div>
            <div class="input-field col s12 l12">
                <textarea id="description" name="description" class="materialize-textarea" placeholder="(e.g., Marinated whole chicked pieces, breaded, and then deep fried to golden perfection.)"></textarea>
                <label for="description" class="active">Description</label>
            </div>
            <div class="input-field col s12 l12">
                <textarea id="ingredients" name="ingredients" class="materialize-textarea" required></textarea>
                <label for="ingredients" class="active">Ingredients</label>
            </div>
            <div class="input-field col s12 l12">
                <textarea id="directions" name="directions" class="materialize-textarea" placeholder="Step-by-step directions to follow to make the dish" required></textarea>
                <label for="directions" class="active required">Directions</label>
            </div>
        </div>
        <div class="center">
            <button type="submit" class="btn waves-effect">
                Create
                <i class="material-icons right">add_circle_outline</i>
            </button>
            <button type="button" class="btn waves-effect" onclick="history.back();">
                Cancel
                <i class="material-icons right">cancel</i>
            </button>
        </div>
    </form>
</section>
{{template "shared/footer" .}}
