{{template "shared/header" .}}
<form method="post">
    <p>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{.Recipe.Name}}" required autofocus>
    </p>
    <p>
        <label for="description">Description</label>
        <input id="description" name="description" type="text" value="{{.Recipe.Description}}">
    </p>
    <input type="submit" value="Save">
</form>
{{template "shared/footer" .}}
