{{template "shared/header" .}}
<section id="edit-recipe-container" class="container">
    <header class="row">
        <h4>Edit Recipe</h4>
        <span>Fill in the fields below.</span>
    </header>
    <form class="" method="post">
        <div class="row">
            <div class="input-field col s12 l6">
                <label for="name" class="active required" data-error="A recipe must have a name">Name</label>
                <input id="name" name="name" class="validate" placeholder="(e.g., Fried Chicken)" value="{{.Recipe.Name}}" required autofocus>
            </div>
            <div class="input-field col s10 m11 l5">
                <label class="active">Tags</label>
                <input id="new-tag">
            </div>
            <div class="input-field col s2 m1 l1 right-align">
                <button id="add-tag" type="button" class="btn-floating waves-effect green">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div class="col s12 offset-l6 l6">
                <span id="tags" class="">
                    {{range $index, $tag := .Recipe.Tags}}
                    <span class="chip">
                        {{$tag}}
                        <i class="material-icons">close</i>
                        <input type="hidden" name="tags" value="{{$tag}}">
                    </span>
                    {{end}}
                </span>
            </div>
            <div class="input-field col s12 l12">
                <label for="description" class="active">Description</label>
                <textarea id="description" name="description" class="materialize-textarea" placeholder="(e.g., Marinated whole chicked pieces, breaded, and then deep fried to golden perfection.)">{{.Recipe.Description}}</textarea>
            </div>
            <div class="input-field col s12 l12">
                <label class="active">Ingredients</label>
            </div>
            <div class="input-field col s2 m2 l2">
                <label class="active required">Quantity</label>
            </div>
            <div class="input-field col s4 m4 l2">
                <label class="active required">Units</label>
            </div>
            <div class="input-field col s6 m6 l8">
                <label class="active required">Name</label>
            </div>
            <div id="ingredients-placeholder"></div>
            <div class="col offset-s10 s2 offset-m11 m1 offset-l11 l1 right-align">
                <button id="add-ingredient-button" type="button" class="btn-floating waves-effect green">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div class="input-field col s12 l12">
                <label for="directions" class="active required">Directions</label>
                <textarea id="directions" name="directions" class="materialize-textarea" placeholder="Step-by-step directions to follow to make the dish." required>{{.Recipe.Directions}}</textarea>
            </div>
        </div>
        <div class="center">
            <button type="submit" class="btn waves-effect">
                Save
                <i class="material-icons right">save</i>
            </button>
            <button type="button" class="btn waves-effect" onclick="history.back();">
                Cancel
                <i class="material-icons right">cancel</i>
            </button>
        </div>
    </form>
</section>
{{template "shared/footer" .}}
