{{template "shared/header" .}}
<section class="container">
    <header class="row">
        <h4>Edit Recipe</h4>
        <span>Fill in the fields below.</span>
    </header>
    <form class="card-panel grey lighten-4" method="post">
        <div class="row">
            <p class="input-field col s12 l6">
                <label for="name" class="active required" data-error="A recipe must have a name">Name</label>
                <input id="name" name="name" class="validate" placeholder="(e.g., Fried Chicken)" value="{{.Recipe.Name}}" required autofocus>
            </p>
            <p class="input-field col s12 l12">
                <label for="description" class="active">Description</label>
                <textarea id="description" name="description" class="materialize-textarea" placeholder="(e.g., Marinated whole chicked pieces, breaded, and then deep fried to golden perfection.)">{{.Recipe.Description}}</textarea>
            </p>
            <p class="input-field col s12 l12">
                <label for="ingredients" class="active required">Ingredients</label>
                <textarea id="ingredients" class="materialize-textarea" placeholder="List of ingredients needed and their quantities."></textarea>
            </p>
            <p class="input-field col s12 l12">
                <label for="directions" class="active required">Directions</label>
                <textarea id="directions" name="directions" class="materialize-textarea" placeholder="Step-by-step directions to follow to make the dish." required>{{.Recipe.Directions}}</textarea>
            </p>
        </div>
        <div class="center">
            <button type="submit" class="btn waves-effect">
                Save
                <i class="material-icons right">save</i>
            </button>
            <button type="button" class="btn waves-effect" onclick="history.back();">
                Cancel
                <i class="material-icons right">cancel</i>
            </button>
        </div>
    </form>
</section>
{{template "shared/footer" .}}
