{{template "shared/header" .}}
<section class="row">
    {{if .SearchQuery}}
    <p class="col s12 l12">
        Results for search '{{.SearchQuery}}': {{.ResultCount}}
    </p>
    {{end}}
    {{range .Recipes}}
    <article class="col s12 m6 l4">
        <div class="card grey lighten-4 hoverable clickable">
            <div class="card-content" onclick="location.href = '/recipes/{{.ID}}';">
                <i class="material-icons right">open_in_new</i>
                <span class="card-title">{{.Name}}</span>
                <p class="plain-text">{{.Description}}</p>
            </div>
        </div>
    </article>
    {{end}}
</section>
<section class="fixed-action-btn">
    <a href="/recipes/create" class="btn-floating btn-large waves-effect green">
        <i class="material-icons">add</i>
    </a>
</section>
{{template "shared/footer" .}}
