{{template "shared/header" .}}
<section class="row">
    {{range $index, $recipe := .Recipes}}
    <article class="col s12 m6 l4">
        <div class="card grey lighten-4 hoverable clickable" onclick="location.href = '/recipes/{{$recipe.ID}}';">
            <div class="card-content">
                <span class="card-title">{{$recipe.Name}}</span>
                <p>{{$recipe.Description}}</p>
            </div>
            <div class="card-action">
                <a href="/recipes/{{$recipe.ID}}">View</a>
                <a href="/recipes/edit/{{$recipe.ID}}">Edit</a>
                <a href="/recipes/delete/{{$recipe.ID}}">Delete</a>
            </div>
        </div>
    </article>
    {{end}}
</section>
<section class="fixed-action-btn" style="bottom: 25px; right: 25px;">
    <a id="add-recipe-button" href="/recipes/create" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
</section>
{{template "shared/footer" .}}
