{{ define "css-recipe/view" }}
<style>
    .image-container {
        position: relative;
    }
    
    .make-main-image {
        position: absolute;
        top: -20px;
        right: 40px;
    }
    .delete-image {
        position: absolute;
        top: -20px;
        right: 15px;
    }
</style>
{{ end }}

{{ define "content-recipe/view" }}
<section class="row">
    <article class="col s12 m12 l10 offset-l1">
        <section id="recipe" class="card grey lighten-4">
            <div class="card-content">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
                <div class="rating-container clickable">
                    <span class="star whole" data-rating="5"><i class="material-icons">star</i></span>
                    <span class="star half" data-rating="4.5"><i class="material-icons">star</i></span>
                    <span class="star whole" data-rating="4"><i class="material-icons">star</i></span>
                    <span class="star half" data-rating="3.5"><i class="material-icons">star</i></span>
                    <span class="star whole" data-rating="3"><i class="material-icons">star</i></span>
                    <span class="star half" data-rating="2.5"><i class="material-icons">star</i></span>
                    <span class="star whole" data-rating="2"><i class="material-icons">star</i></span>
                    <span class="star half" data-rating="1.5"><i class="material-icons">star</i></span>
                    <span class="star whole" data-rating="1"><i class="material-icons">star</i></span>
                    <span class="star half" data-rating="0.5"><i class="material-icons">star</i></span>
                </div>
                <h4>
                    <a href="#pictures">
                        <img id="recipe-image" class="circle" style="width: 64px; height: 64px;">
                    </a>
                    <span id="recipe-name"></span>
                </h4>
                <div id="recipe-serving-size" class="hide">
                    <label>Serving Size</label>
                    <p class="section plain-text"></p>
                    <div class="divider"></div>
                </div>
                <div id="recipe-ingredients">
                    <label>Ingredients</label>
                    <p class="section plain-text"></p>
                    <div class="divider"></div>
                </div>
                <div id="recipe-directions">
                    <label>Directions</label>
                    <p class="section plain-text"></p>
                    <div class="divider"></div>
                </div>
                <div id="recipe-nutrition" class="hide">
                    <label>Nutrition</label>
                    <p class="section plain-text"></p>
                    <div class="divider"></div>
                </div>
                <div id="recipe-source" class="hide">
                    <label>Source</label>
                    <p class="section"><a target="_blank"></a></p>
                    <div class="divider"></div>
                </div>
                <p id="recipe-tags" class="section"></p>
            </div>
        </section>
        <section>
            <article id="pictures" class="col s12 l6">
                <h5 class="light">Pictures</h5>
                <div class="divider"></div>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
                <div id="images-container"></div>
            </article>
            <article id="notes" class="col s12 l6">
                <h5 class="light">Notes</h5>
                <div class="divider"></div>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
                <div id="notes-container"></div>
            </article>
        </section>
    </article>
</section>
<section class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect blue">
        <i class="material-icons">more_vert</i>
    </a>
    <ul>
        <li>
            <a href="{{RootUrlPath}}/new" class="btn-floating waves-effect green">
                <i class="material-icons">add</i>
            </a>
        </li>
        <li>
            <a href="#delete-confirm" class="btn-floating waves-effect red modal-trigger">
                <i class="material-icons">delete</i>
            </a>
        </li>
        <li>
            <a href="{{.UrlPath}}/edit" class="btn-floating waves-effect amber darken-2">
                <i class="material-icons">mode_edit</i>
            </a>
        </li>
        <li>
            <a href="#add-image-modal" class="btn-floating waves-effect green modal-trigger">
                <i class="material-icons">add_a_photo</i>
            </a>
        </li>
        <li>
            <a id="add-note" href="javascript:void(0)" class="btn-floating waves-effect blue">
                <i class="material-icons">insert_comment</i>
            </a>
        </li>
    </ul>
</section>
<div id="delete-confirm" class="modal">
    <div class="modal-content">
        <h5 class="red-text"><i class="material-icons left">warning</i>Delete?</h5>
        <p>Are you sure you want to delete this recipe?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close btn-flat">No</a>
        <a href="{{.UrlPath}}/delete" class="modal-action modal-close btn-flat">Yes</a>
    </div>
</div>
<div id="add-image-modal" class="modal">
    <form action="{{.UrlPath}}/images" method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <h5 class="green-text"><i class="material-icons left">add_a_photo</i>Attach Image</h5>
            <p>Browse to an image file to attach to this recipe.<p>
            <div class="input-field file-field">
                <div class="btn">
                    <span>File</span>
                    <input name="file_content" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input name="file_name" class="file-path">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-action modal-close btn-flat">Cancel</a>
            <button type="submit" class="modal-action modal-close btn-flat">Attach</button>
        </div>
    </form>
</div>
<div id="main-image-confirm" class="modal">
    <div class="modal-content">
        <h5 class="green-text"><i class="material-icons left">live_help</i>Change Main Image?</h5>
        <p>Are you sure you want to make this the main image for the recipe?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close btn-flat">No</a>
        <a id="main-image-yes" href="javascript:void(0)" class="modal-action modal-close btn-flat">Yes</a>
    </div>
</div>
<div id="delete-image-confirm" class="modal">
    <div class="modal-content">
        <h5 class="red-text"><i class="material-icons left">warning</i>Delete?</h5>
        <p>Are you sure you want to delete this image?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close btn-flat">No</a>
        <a id="delete-image-yes" class="modal-action modal-close btn-flat">Yes</a>
    </div>
</div>
<div id="note-modal" class="modal">
    <div class="modal-content">
        <h5 class="blue-text">
            <i class="material-icons left">insert_comment</i><span id="note-title">Add Note</span>
        </h5>
        <div class="input-field">
            <textarea id="note" name="note" class="materialize-textarea" required autofocus></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close btn-flat">Cancel</a>
        <a id="note-submit" href="javascript:void(0)" class="modal-action modal-close btn-flat">Add</a>
    </div>
</div>
<div id="delete-note-confirm" class="modal">
    <div class="modal-content">
        <h5 class="red-text"><i class="material-icons left">warning</i>Delete?</h5>
        <p>Are you sure you want to delete this note?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close btn-flat">No</a>
        <a id="delete-note-yes" href="javascript:void(0)" class="modal-action modal-close btn-flat">Yes</a>
    </div>
</div>
{{ end }}

{{ define "js-recipe/view" }}
<script type="text/javascript">
    var recipeId = parseInt(window.location.pathname.split('/').pop());
    
    $(document).ready(function(){
        loadRecipe();
        loadMainImage();
        loadImages();
        loadNotes();

        $('#add-note').click(function() {
            $('#note').val('');
            $('#note-title').text('Add Note');
            $('#note-submit').text('Add');
            $('#note-submit').data('note-id', '');
            $('#note-modal').openModal();
        });

        $('.star').click(function() {
            setRating(parseFloat($(this).data('rating')));
        });

        $('#note-submit').click(function() {
            var noteIdStr = $(this).data('note-id');
            if (noteIdStr == '') {
                addNote($('#note').val());
            } else {
                var noteId = parseInt(noteIdStr);
                editNote(noteId, $('#note').val())
            }
        });

        $('#delete-note-yes').click(function() {
            var noteId = parseInt($(this).data('note-id'));
            deleteNote(noteId);
        });

        $('#main-image-yes').click(function() {
            var imageId = parseInt($(this).data('image-id'));
            setMainImage(imageId);
        });

        $('#delete-image-yes').click(function() {
            var imageId = parseInt($(this).data('image-id'));
            deleteImage(imageId);
        });
    });

    function loadRecipe() {
        loadRecipeAsync('{{RootUrlPath}}', recipeId).done(function(recipe) {
            $('#recipe-name').append(recipe.name)
            $('.star[data-rating="' + recipe.averageRating + '"]').addClass('active');
            $('#recipe-ingredients > p').append(recipe.ingredients)
            $('#recipe-directions > p').append(recipe.directions)

            if (recipe.servingSize != '') {
                var $servingSize =  $('#recipe-serving-size')
                $servingSize.removeClass('hide')
                $servingSize.find('p').append(recipe.servingSize)
            }

            if (recipe.nutritionInfo != '') {
                var $nutritionInfo =  $('#recipe-nutrition')
                $nutritionInfo.removeClass('hide')
                $nutritionInfo.find('p').append(recipe.nutritionInfo)
            }

            if (recipe.sourceUrl != '') {
                var $sourceUrl =  $('#recipe-source')
                $sourceUrl.removeClass('hide')
                $sourceUrl.find('> p > a').attr("href", recipe.sourceUrl)
                $sourceUrl.find('> p > a').append(recipe.sourceUrl)
            }

            var $tagsContainer = $('#recipe-tags');
            recipe.tags.forEach(function(tag) {
                $tagsContainer.append('<div class="chip">' + tag + '</div>');
            });
        }).always(function() {
            $('#recipe .progress').addClass('hide');
        });
    }

    function loadMainImage() {
        var $recipeImage = $('#recipe-image');
        loadMainImageAsync('{{RootUrlPath}}', recipeId).done(function(image) {
            $recipeImage.removeClass('hide');
            $recipeImage.attr("src", image.thumbnailUrl);
        }).fail(function() {
            $recipeImage.addClass('hide');
        });
    }

    function setMainImage(imageId) {
        setMainImageAsync('{{RootUrlPath}}', recipeId, imageId).done(function() {
            loadMainImage();
        });
    }

    function deleteImage(imageId) {
        deleteImageAsync('{{RootUrlPath}}', recipeId, imageId).done(function() {
            loadMainImage();
            loadImages();
        });
    }

    function loadImages() {
        loadImagesAsync('{{RootUrlPath}}', recipeId).done(function(images) {
            var $imagesContainer = $('#images-container');
            $imagesContainer.empty();

            if (images != null) {
                images.forEach(function(image) {
                    var $imageContent = '\
                        <span class="image-container">\
                            <a target="_blank" href="' + image.url + '">\
                                <img width="250" height="250" src="' + image.thumbnailUrl + '">\
                            </a>\
                            <a class="make-main-image" href="javascript:void(0)" data-image-id="' + image.id + '">\
                                <i class="material-icons green-text">photo_library</i>\
                            </a>\
                            <a class="delete-image" href="javascript:void(0)" data-image-id="' + image.id + '">\
                                <i class="material-icons red-text">delete</i>\
                            </a>\
                        </span>';
                    $imagesContainer.append($imageContent);
                });
            }
        
            $('.make-main-image').click(function() {
                var imageId = $(this).data('image-id');
                $('#main-image-yes').data('image-id', imageId);
                $('#main-image-confirm').openModal();
            });
            
            $('.delete-image').click(function() {
                var imageId = $(this).data('image-id');
                $('#delete-image-yes').data('image-id', imageId);
                $('#delete-image-confirm').openModal();
            });
        }).always(function() {
            $('#pictures .progress').addClass('hide');
        });
    }

    function loadNotes() {
        loadNotesAsync('{{RootUrlPath}}', recipeId).done(function(notes) {
            var $notesContainer = $('#notes-container');
            $notesContainer.empty();

            if (notes != null) {
                notes.forEach(function(note) {
                    var $noteContent = '\
                        <section id="note-' + note.id + '" class="card grey lighten-4">\
                            <div class="card-content">\
                                <p class="section left">\
                                    <i class="material-icons left">comment</i>' +
                                    new Date(note.createdAt).toLocaleString() +
                                '</p>\
                                <p class="section right">\
                                    <a class="edit-note" href="javascript:void(0)" data-note-id="' + note.id + '" data-note-content="' + encodeURI(note.text) + '">\
                                        <i class="material-icons amber-text text-darken-2">edit</i>\
                                    </a>\
                                    <a class="delete-note" href="javascript:void(0)" data-note-id="' + note.id + '">\
                                        <i class="material-icons red-text">delete</i>\
                                    </a>\
                                </p>\
                                <div class="divider clearfix"></div>\
                                <p class="section plain-text">' + note.text + '</p>';
                    if (note.modifiedAt != note.createdAt) {
                        $noteContent += '<label class="right">Modified: ' + new Date(note.modifiedAt).toLocaleString() + '</label>';
                    }
                    $noteContent += '\
                            </div>\
                        </section>';
                    $notesContainer.append($noteContent);
                });
            }
        
            $('.edit-note').click(function() {
                var noteId = $(this).data('note-id');
                var noteContent = $(this).data('note-content');
                noteContent = noteContent.replace(/\+/g, ' ');
                noteContent = decodeURIComponent(noteContent);
                $('#note').val(noteContent);
                $('#note-title').text('Edit Note');
                $('#note-submit').text('Update');
                $('#note-submit').data('note-id', noteId);
                $('#note-modal').openModal();
            });
            
            $('.delete-note').click(function() {
                var noteId = $(this).data('note-id');
                $('#delete-note-yes').data('note-id', noteId);
                $('#delete-note-confirm').openModal();
            });
        }).always(function() {
            $('#notes .progress').addClass('hide');
        });
    }

    function addNote(text) {
        addNoteAsync('{{RootUrlPath}}', recipeId, text).done(function() {
            loadNotes();
        });
    }

    function editNote(noteId, text) {
        editNoteAsync('{{RootUrlPath}}', recipeId, noteId, text).done(function() {
            loadNotes();
        });
    }

    function deleteNote(noteId) {
        deleteNoteAsync('{{RootUrlPath}}', noteId).done(function() {
            loadNotes();
        });
    }

    function setRating(rating) {
        setRatingAsync('{{RootUrlPath}}', recipeId, rating).done(function() {
            $('.star').removeClass('active');
            $('.star[data-rating="' + rating + '"]').addClass('active');
        });
    }
</script>
{{ end }}
