{{ define "css-recipe/view" }}
<style>
    #rating-form {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    #rating-form > a {
        color: #dddddd;
        float: right;
    }
    
    #rating-form  > a.whole {
        -webkit-clip-path: inset(0 0 0 50%);
                clip-path: inset(0 0 0 50%);
        margin-left: -10%;
    }
    
    #rating-form  > a.half {
        -webkit-clip-path: inset(0 50% 0 0);
                clip-path: inset(0 50% 0 0);
    }
    
    #rating-form > a.active,
    #rating-form > a.active ~ a {
        color: #fdd835;
    }

    #rating-form > a:hover,
    #rating-form > a:hover ~ a {
        color: #ffeb3b !important;
    }
</style>
{{ end }}

{{ define "content-recipe/view" }}
<section class="row">
    <article class="col s12 m12 l10 offset-l1">
        <section class="card grey lighten-4">
            <div class="card-content">
                <form id="rating-form" method="post" action="{{RootUrlPath}}/recipes/{{.Recipe.ID}}/rate">
                    <a href="#" class="whole {{if eq .Recipe.AvgRating 5.0}}active{{end}}" data-rating="5.0"><i class="material-icons">star</i></a>
                    <a href="#" class="half {{if eq .Recipe.AvgRating 4.5}}active{{end}}" data-rating="4.5"><i class="material-icons">star</i></a>
                    <a href="#" class="whole {{if eq .Recipe.AvgRating 4.0}}active{{end}}" data-rating="4.0"><i class="material-icons">star</i></a>
                    <a href="#" class="half {{if eq .Recipe.AvgRating 3.5}}active{{end}}" data-rating="3.5"><i class="material-icons">star</i></a>
                    <a href="#" class="whole {{if eq .Recipe.AvgRating 3.0}}active{{end}}" data-rating="3.0"><i class="material-icons">star</i></a>
                    <a href="#" class="half {{if eq .Recipe.AvgRating 2.5}}active{{end}}" data-rating="2.5"><i class="material-icons">star</i></a>
                    <a href="#" class="whole {{if eq .Recipe.AvgRating 2.0}}active{{end}}" data-rating="2.0"><i class="material-icons">star</i></a>
                    <a href="#" class="half {{if eq .Recipe.AvgRating 1.5}}active{{end}}" data-rating="1.5"><i class="material-icons">star</i></a>
                    <a href="#" class="whole {{if eq .Recipe.AvgRating 1.0}}active{{end}}" data-rating="1.0"><i class="material-icons">star</i></a>
                    <a href="#" class="half {{if eq .Recipe.AvgRating 0.5}}active{{end}}" data-rating="0.5"><i class="material-icons">star</i></a>
                    <input id="rating-input" name="rating" type="hidden">
                </form>
                <h4>{{.Recipe.Name}}</h4>
                <label>Serving Size</label>
                <p class="section plain-text">{{.Recipe.ServingSize}}</p>
                <div class="divider"></div>
                <label>Ingredients</label>
                <p class="section plain-text">{{.Recipe.Ingredients}}</p>
                <div class="divider"></div>
                <label>Directions</label>
                <p class="section plain-text">{{.Recipe.Directions}}</p>
                <div class="divider"></div>
                <label>Nutrition</label>
                <p class="section plain-text">{{.Recipe.NutritionInfo}}</p>
                <div class="divider"></div>
                <p class="section">
                    {{range .Recipe.Tags}}
                    <div class="chip">
                        {{.}}
                    </div>
                    {{end}}
                </p>
            </div>
        </section>
        <section>
            <article class="col s12 l6">
                <h5 class="light">Pictures</h5>
                <div class="divider"></div>
                <section class="section">
                    {{range .Images}}
                    <a href="{{RootUrlPath}}{{.URL}}">
                        {{if .ThumbnailURL}}
                        <img width="250" height="250" src="{{RootUrlPath}}{{.ThumbnailURL}}">
                        {{else}}
                        <img width="250" height="250" src="{{RootUrlPath}}{{.URL}}">
                        {{end}}
                    </a>
                    {{end}}
                </section>
            </article>
            <article class="col s12 l6">
                <h5 class="light">Notes</h5>
                <div class="divider"></div>
                {{range .Notes}}
                <section class="card grey lighten-4">
                    <div class="card-content">
                        <p class="section">
                            <i class="material-icons left">comment</i>
                            {{.CreatedAt.Format "2006 Jan 02, 03:04:05PM"}}
                        </p>
                        <div class="divider"></div>
                        <p class="section plain-text">{{.Note}}</p>
                    </div>
                </section>
                {{end}}
            </article>
        </section>
    </article>
</section>
<section class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect blue">
        <i class="material-icons">more_vert</i>
    </a>
    <ul>
        <li>
            <a href="#delete-confirm" class="btn-floating waves-effect red modal-trigger">
                <i class="material-icons">delete</i>
            </a>
        </li>
        <li>
            <a href="{{RootUrlPath}}/recipes/{{.Recipe.ID}}/edit" class="btn-floating waves-effect amber darken-2">
                <i class="material-icons">mode_edit</i>
            </a>
        </li>
        <li>
            <a href="#add-image-modal" class="btn-floating waves-effect green modal-trigger">
                <i class="material-icons">add_a_photo</i>
            </a>
        </li>
        <li>
            <a href="#add-note-modal" class="btn-floating waves-effect blue modal-trigger">
                <i class="material-icons">insert_comment</i>
            </a>
        </li>
    </ul>
</section>
<div id="delete-confirm" class="modal">
    <div class="modal-content">
        <h5 class="red-text"><i class="material-icons left">warning</i>Delete?</h5>
        <p>Are you sure you want to delete this recipe?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close btn-flat">No</a>
        <a href="{{RootUrlPath}}/recipes/{{.Recipe.ID}}/delete" class="modal-action modal-close btn-flat">Yes</a>
    </div>
</div>
<div id="add-image-modal" class="modal">
    <form action="{{RootUrlPath}}/recipes/{{.Recipe.ID}}/attach/create" method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <h5 class="green-text"><i class="material-icons left">add_a_photo</i>Attach Image</h5>
            <p>Browse to an image file to attach to this recipe.<p>
            <div class="input-field file-field">
                <div class="btn">
                    <span>File</span>
                    <input name="file_content" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input name="file_name" class="file-path">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close btn-flat">Cancel</a>
            <button type="submit" class="modal-action modal-close btn-flat">Attach</button>
        </div>
    </form>
</div>
<div id="add-note-modal" class="modal">
    <form action="{{RootUrlPath}}/recipes/{{.Recipe.ID}}/note/create" method="post">
        <div class="modal-content">
            <h5 class="blue-text"><i class="material-icons left">insert_comment</i>Add Note</h5>
            <div class="input-field">
                <textarea id="note" name="note" class="materialize-textarea" required autofocus></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close btn-flat">Cancel</a>
            <button type="submit" class="modal-action modal-close btn-flat">Add</a>
        </div>
    </form>
</div>
{{ end }}

{{ define "js-recipe/view" }}
<script type="text/javascript">
    $('#rating-form > a').click(function() {
        $('#rating-input').val($(this).data("rating"));
        $('#rating-form').submit();
    });
</script>
{{ end }}
