{{template "shared/header" .}}
<a href="/recipes">Back to List</a>
<a href="/recipes/edit/{{.Recipe.ID}}">Edit</a>

<h1>{{.Recipe.Name}}</h1>
<p>{{.Recipe.Description}}</p>
{{template "shared/footer" .}}
