<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-chip/paper-chip.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../bower_components/paper-tags-input/paper-tags-input.html">

<link rel="import" href="../mixins/gomp-core-mixin.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="tag-input">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            :host[hidden] {
                display: none !important;
            }
            iron-icon {
                --iron-icon-height: 20px;
                --iron-icon-width: 20px;
                color: var(--paper-green-400);
            }
            paper-chip {
                margin: 4px;
                padding-right: 6px;
                cursor: pointer;
                @apply layout-horizontal;
                background-color: var(--paper-green-100);
            }
            paper-chip[selectable]:hover {
                color: white !important;
                background-color: var(--paper-green-600);
            }
            </style>

            <paper-tags-input id="tags" tags="{{tags}}"></paper-tags-input>
            <paper-input-container always-float-label="true">
                <label slot="label">Suggested Tags</label>
                <div slot="prefix">
                    <template is="dom-repeat" items="[[suggestedTags]]">
                        <paper-chip on-tap="_onSuggestedTagTapped" selectable>[[item]] <iron-icon icon="icons:add-circle"></iron-icon></paper-chip>
                    </template>
                </div>
                <input type="hidden" slot="input">
            </paper-input-container>

        <iron-ajax bubbles
            id="getSuggestedTagsAjax"
            url="/api/v1/tags"
            method="GET"
            params='{"sort": "frequency", "dir": "desc", "count": 12}'
            headers="[[ajaxHeaders]]"
            handle-as="json"
            on-request="_handleGetSuggestedTagsRequest"
            on-response="_handleGetSuggestedTagsResponse"></iron-ajax>
    </template>

    <script>
        class TagInput extends GompCoreMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { return 'tag-input'; }
            static get properties() {
                return {
                    tags: {
                        type: Array,
                        notify: true,
                        value: [],
                    },
                };
            }

            refresh() {
                this.$.getSuggestedTagsAjax.generateRequest();
            }

            _onSuggestedTagTapped(e) {
                e.preventDefault();

                this.$.tags.add(e.model.item);

                // Remove the tag from the suggestion list
                var suggestedTagIndex = this.suggestedTags.indexOf(e.model.item);
                if (suggestedTagIndex > -1) {
                    this.splice('suggestedTags', suggestedTagIndex, 1);
                }
            }
            _handleGetSuggestedTagsRequest(e) {
                this.suggestedTags = [];
            }
            _handleGetSuggestedTagsResponse(e) {
                this.suggestedTags = e.detail.response;
            }
        }

        window.customElements.define(TagInput.is, TagInput);
    </script>
</dom-module>
