        </main>

        <footer class="page-footer no-padding grey">
            <section class="footer-copyright">
                <section class="container">
                    <span>&copy; 2016 Chad Weimer</span>
                </section>
            </section>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{RootUrlPath}}/js/materialize.js"></script>
        <script type="text/javascript" src="{{RootUrlPath}}/js/gomp.js"></script>
    </body>
</html>
