<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/gomp.css">
    </head>
    <body>
        <header id="pageHeader">
            <span id="logo">GOMP<span>
            <nav id="pageNav">
                <a href="/">Home</a>
                <a href="/recipes">Recipes</a>
            </nav>
        </header>
