<!DOCTYPE html>
<html>
    <head>
        <title>{{ApplicationTitle}}</title>
        <meta name="application-name" content="{{ApplicationTitle}}">
        <meta name="apple-mobile-web-app-title" content="{{ApplicationTitle}}">
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="msapplication-config" content="/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!--Import Google Icon Font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">

        <!-- Custom GOMP styles -->
        <link rel="stylesheet" type="text/css" href="/css/gomp.css">

        {{ partial "css" }}

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="navbar">
            <nav class="blue">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo left hide-on-med-and-down">{{ApplicationTitle}}</a>
                    <ul class="right hide-on-med-and-down require-login">
                        <li><a href="/">Home</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                        <li>
                            <a href="#!" class="dropdown-button" data-beloworigin="true" data-activates="userDropdown">
                                <span class="username"></span>
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <ul id="userDropdown" class="dropdown-content">
                                <li><a href="#!" onclick="onLogoutClicked(this, event);">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="nav-wrapper right require-login" action="/recipes">
                        <div class="input-field nav-wrapper">
                            <input id="search" name="q" type="search" placeholder="Search...">
                            <input type="hidden" name="tags" value="">
                            <label for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                    <a href="#!" data-activates="mobile-menu" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
            </nav>
            <ul id="mobile-menu" class="side-nav collapsible" data-collapsible="expandable">
                <li>
                    <span class="collapsible-header active truncate">{{ApplicationTitle}}</span>
                    <ul class="collapsible-body require-login">
                        <li><a href="/"><i class="material-icons">home</i> Home</a></li>
                        <li><a href="/recipes"><i class="material-icons">view_list</i> Recipes</a></li>
                    </ul>
                </li>
                <li class="require-login">
                    <span class="collapsible-header active username"></span>
                    <ul class="collapsible-body">
                        <li><a href="#!" onclick="onLogoutClicked(this, event);"><i class="material-icons">exit_to_app</i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </header>

        <main>
            {{ partial "content" }}
        </main>

        <footer class="page-footer no-padding grey lighten-1">
            <div class="container">
                <div class="row">
                    <div class="col s12 l12 require-login">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="white-text" href="/">Home</a></li>
                            <li><a class="white-text" href="/recipes">Recipes</a></li>
                            <li><a class="white-text" href="#!" onclick="onLogoutClicked(this, event);">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <span>&copy; 2016 Chad Weimer. Powered by <a class="white-text" href="https://github.com/chadweimer/gomp">GOMP</a>.</span>
                </div>
            </div>
        </footer>

        <div id="busy-dialog" class="modal">
            <div class="modal-content">
                <h5 id="busy-message" class="center"></h5>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>

        <div id="confirmation-dialog" class="modal">
            <div class="modal-content">
                <h5 class="red-text">
                    <i id="confirmation-image" class="material-icons left"></i> <span id="confirmation-title"></span>
                </h5>
                <p id="confirmation-message"></p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn-flat">No</a>
                <a id="confirmation-yes" href="#!" class="modal-action modal-close btn-flat">Yes</a>
            </div>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        
        <!--Import materialize.js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        
        <!-- Custom GOMP scripts -->
        <script type="text/javascript" src="/js/gomp.js"></script>
        {{ partial "js" }}
    </body>
</html>
