{{ define "content-user/login" }}
<section class="row">
	<article class="col s12 l6 pull-l3">
		<div class="card">
			<span class="card-title">Login</span>
			<div class="card-content">

			</div>
		</div>
	<article>
</section>
{{end}}