name: Continuous Integration
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  REPO_NAME: ${{ github.repository }}

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: make install
      - run: make lint test
      - uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            build/coverage/*
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        os: [linux]
        arch: [amd64, arm64, arm]
    env:
      TARGETOS: ${{ matrix.os }}
      TARGETARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Set env vars (push)
        if: github.event_name == 'push'
        run: echo "BUILD_VERSION=0.0.0-beta+commit.${{ github.sha }}" >> $GITHUB_ENV
      - name: Set env vars (pr)
        if: github.event_name == 'pull_request'
        run: echo "BUILD_VERSION=0.0.0-pr${{ github.event.pull_request.number }}+commit.${{ github.sha }}" >> $GITHUB_ENV
      - name: Set env vars (release)
        if: github.event_name == 'release'
        run: echo "BUILD_VERSION=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Build
        run: make build archive

      - uses: actions/upload-artifact@v4
        with:
          name: gomp-${{ matrix.os }}-${{ matrix.arch }}-${{ env.BUILD_VERSION }}
          path: build/gomp-${{ matrix.os }}-${{ matrix.arch }}-${{ env.BUILD_VERSION }}.tar.gz
          compression-level: 0
  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-24.04
    env:
      CONTAINER_REGISTRY: ghcr.io
      DOCKER_BASE_ARGS: --push --platform linux/amd64,linux/arm64,linux/arm
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: arm,arm64
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set env vars (push)
        if: github.event_name == 'push'
        run: |
          echo "BUILD_VERSION=0.0.0-beta+commit.${{ github.sha }}" >> $GITHUB_ENV
          echo "DOCKER_ARGS=${{ env.DOCKER_BASE_ARGS }} -t ${{ env.CONTAINER_REGISTRY }}/${{ env.REPO_NAME }}:beta" >> $GITHUB_ENV
      - name: Set env vars (pr)
        if: github.event_name == 'pull_request'
        run: |
          echo "BUILD_VERSION=0.0.0-pr${{ github.event.pull_request.number }}+commit.${{ github.sha }}" >> $GITHUB_ENV
          echo "DOCKER_ARGS=${{ env.DOCKER_BASE_ARGS }} -t ${{ env.CONTAINER_REGISTRY }}/${{ env.REPO_NAME }}:pr${{ github.event.pull_request.number }}" >> $GITHUB_ENV
      - name: Set env vars (release)
        # if: github.event_name == 'release'
        run: |
          echo "BUILD_VERSION_TEST=3.45.5" >> $GITHUB_ENV
          TAG="3.45.5"
          MAJOR_TAG="${TAG%%.*}"
          MINOR_TAG="$(echo "$TAG" | cut -d. -f1-2)"
          echo "DOCKER_ARGS_TEST=${{ env.DOCKER_BASE_ARGS }} -t ${{ env.CONTAINER_REGISTRY }}/${{ env.REPO_NAME }}:latest -t ${{ env.CONTAINER_REGISTRY }}/${{ env.REPO_NAME }}:${TAG} -t ${{ env.CONTAINER_REGISTRY }}/${{ env.REPO_NAME }}:${MAJOR_TAG}" -t ${{ env.CONTAINER_REGISTRY }}/${{ env.REPO_NAME }}:${MINOR_TAG} >> $GITHUB_ENV

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: build
          merge-multiple: true

      - name: Publish container image
        run: make docker

      - name: Publish artifacts to release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release'
        with:
          files: build/*.tar.gz
          tag_name: ${{ github.event.release.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
